.group-child5,
.icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
}
.icon2 {
  height: 1024px;
  object-fit: cover;
}
.group-child5 {
  border-radius: var(--br-6xl);
  height: 81px;
}
.about9,
.art-style8,
.artists8,
.cart9,
.contact-us9,
.home8,
.orders9 {
  position: absolute;
  top: 16.2px;
  left: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 162px;
  height: 33.2px;
}
.about9,
.art-style8,
.artists8,
.cart9,
.contact-us9,
.orders9 {
  left: 183px;
}
.about9,
.artists8,
.cart9,
.contact-us9,
.orders9 {
  left: 993px;
}
.about9,
.artists8,
.cart9,
.orders9 {
  left: 831px;
}
.artists8,
.cart9,
.orders9 {
  left: 669px;
}
.artists8,
.orders9 {
  left: 507px;
}
.artists8 {
  left: 345px;
}
.welcome-1-icon7 {
  position: absolute;
  top: 0;
  left: 1338px;
  width: 88px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: color-dodge;
}
.group-child6 {
  position: absolute;
  top: 2px;
  left: 842px;
  background-color: var(--color-peru);
  width: 139px;
  height: 81px;
}
.about-child,
.vector-parent4 {
  position: absolute;
  top: 20px;
  left: 0;
  width: 1440px;
  height: 83px;
}
.about-child {
  top: 152px;
  left: 20px;
  border-radius: var(--br-31xl);
  background-color: var(--color-brown-100);
  width: 1399px;
  height: 497px;
}
.welcome-to-our {
  margin: 0;
}
.our-mission {
  margin: 0;
  font-weight: 800;
}
.our-mission-is {
  margin: 0;
}
.welcome-to-our-container {
  position: absolute;
  top: 192px;
  left: 61px;
  font-size: var(--font-size-16xl);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 1321px;
  height: 378px;
}
.about8 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
