.pexels-photo-1269968-1-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1024px;
  object-fit: cover;
}
.group-child11 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 610px;
  height: 44px;
}
.pop-art1 {
  position: absolute;
  top: 15px;
  left: 191px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 232px;
  height: 15px;
}
.group-child12,
.rectangle-parent11 {
  position: absolute;
  top: 0;
  left: 315px;
  width: 610px;
  height: 44px;
}
.group-child12 {
  left: 0;
  background-color: var(--color-gainsboro);
}
.dark1 {
  position: absolute;
  top: 15px;
  left: 189px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 232px;
  height: 15px;
}
.rectangle-parent12 {
  position: absolute;
  top: 477px;
  left: 319px;
  width: 610px;
  height: 44px;
  font-size: var(--font-size-base);
}
.download-1-11,
.download-1-icon1,
.images-1-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 386px;
  height: 359px;
  object-fit: cover;
}
.download-1-11,
.download-1-icon1 {
  left: 418px;
  width: 418px;
}
.download-1-11 {
  left: 882px;
  width: 372px;
}
.images-1-parent {
  position: absolute;
  top: 58px;
  left: 13px;
  width: 1254px;
  height: 359px;
}
.download-2-icon1,
.images-2-icon1,
.top-100-paintings-view-of-tole-icon2 {
  position: absolute;
  top: 535px;
  left: 21px;
  width: 399px;
  height: 292px;
  object-fit: cover;
}
.download-2-icon1,
.images-2-icon1 {
  left: 457px;
  width: 408px;
}
.download-2-icon1 {
  top: 536px;
  left: 902px;
  width: 352px;
}
.group-child13 {
  position: absolute;
  top: 460px;
  left: -2px;
  border-top: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 1275px;
  height: 4px;
}
.group-child14,
.group-child15 {
  top: 0;
  background-color: var(--color-gainsboro);
}
.group-child14 {
  position: absolute;
  left: 891px;
  width: 113px;
  height: 28px;
}
.group-child15 {
  left: 0;
}
.div12,
.group-child15,
.rectangle-parent14 {
  position: absolute;
  width: 113px;
  height: 28px;
}
.div12 {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-parent14 {
  top: 6px;
  left: 441px;
}
.group-child16 {
  top: 0;
  background-color: var(--color-gainsboro);
}
.div13,
.div14,
.group-child16,
.rectangle-parent15 {
  position: absolute;
  left: 0;
  width: 113px;
  height: 28px;
}
.div13 {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div14,
.rectangle-parent15 {
  top: 2px;
}
.div14 {
  top: 4px;
  left: 891px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-parent13 {
  position: absolute;
  top: 846px;
  left: 138px;
  width: 1004px;
  height: 34px;
  font-size: var(--font-size-xs);
}
.group-container {
  position: absolute;
  top: 118px;
  left: 91px;
  width: 1271px;
  height: 880px;
}
.div15,
.group-child17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 113px;
  height: 28px;
}
.group-child17 {
  background-color: var(--color-gainsboro);
}
.div15 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.div16,
.group-child18,
.rectangle-parent16 {
  position: absolute;
  top: 0;
  left: 454px;
  width: 113px;
  height: 28px;
}
.div16,
.group-child18 {
  left: 0;
}
.group-child18 {
  background-color: var(--color-gainsboro);
}
.div16 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-parent17 {
  left: 0;
}
.div17,
.group-child19,
.rectangle-parent17 {
  position: absolute;
  top: 0;
  width: 113px;
  height: 28px;
}
.group-child19 {
  left: 5px;
  background-color: var(--color-gainsboro);
}
.div17 {
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-parent1,
.rectangle-parent18 {
  position: absolute;
  top: 0;
  left: 891px;
  width: 118px;
  height: 28px;
}
.group-parent1 {
  top: 540px;
  left: 229px;
  width: 1009px;
  font-size: var(--font-size-xs);
}
.art-style-item {
  position: absolute;
  top: 0;
  left: 268px;
  background-color: var(--color-darkgoldenrod);
  width: 119px;
  height: 78px;
}
.group-child20 {
  position: absolute;
  top: 4px;
  left: 0;
  border-radius: var(--br-6xl);
  width: 1440px;
  height: 87px;
}
.about13,
.art-style13,
.artists13,
.cart15,
.contact-us13,
.home12,
.orders14 {
  position: absolute;
  top: 21.4px;
  left: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 162px;
  height: 35.7px;
}
.about13,
.art-style13,
.artists13,
.cart15,
.contact-us13,
.orders14 {
  left: 183px;
}
.about13,
.artists13,
.cart15,
.contact-us13,
.orders14 {
  left: 993px;
}
.about13,
.artists13,
.cart15,
.orders14 {
  left: 831px;
}
.artists13,
.cart15,
.orders14 {
  left: 669px;
}
.artists13,
.orders14 {
  left: 507px;
}
.artists13 {
  left: 345px;
}
.welcome-1-icon11 {
  position: absolute;
  top: 4px;
  left: 1338px;
  width: 88px;
  height: 87px;
  object-fit: cover;
  mix-blend-mode: color-dodge;
}
.group-child21 {
  position: absolute;
  top: 0;
  left: 194px;
  background-color: var(--color-peru);
  width: 139px;
  height: 87px;
}
.vector-parent8 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 1440px;
  height: 91px;
  font-size: var(--font-size-6xl);
}
.art-style12 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-mid);
  color: var(--color-black);
  font-family: var(--font-inter);
}
