.pexels-photo-1269968-2-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1024px;
  object-fit: cover;
}
.component-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.about10,
.art-style9,
.artists10,
.cart10,
.contact-us10,
.home9,
.orders10 {
  position: absolute;
  height: 40.99%;
  width: 11.25%;
  top: 20%;
  left: 1.46%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about10,
.art-style9,
.artists10,
.cart10,
.contact-us10,
.orders10 {
  left: 12.71%;
}
.about10,
.artists10,
.cart10,
.contact-us10,
.orders10 {
  left: 68.96%;
}
.about10,
.artists10,
.cart10,
.orders10 {
  left: 57.71%;
}
.artists10,
.cart10,
.orders10 {
  left: 46.46%;
}
.artists10,
.orders10 {
  left: 35.21%;
}
.artists10 {
  left: 23.96%;
}
.component-item,
.welcome-1-icon8 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.welcome-1-icon8 {
  width: 6.11%;
  right: 0.97%;
  left: 92.92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  mix-blend-mode: color-dodge;
}
.component-item {
  width: 9.65%;
  right: 65.63%;
  left: 24.72%;
  background-color: var(--color-peru);
}
.artists-child,
.vector-parent5 {
  position: absolute;
  top: 12px;
  left: 0;
  width: 1440px;
  height: 81px;
}
.artists-child {
  top: 118px;
  left: 27px;
  border-radius: var(--br-6xl);
  background-color: var(--color-brown-100);
  width: 1386px;
  height: 759px;
}
.image-1-icon1 {
  position: absolute;
  top: 153px;
  left: 962px;
  border-radius: var(--br-31xl);
  width: 407px;
  height: 597px;
  object-fit: cover;
}
.b7 {
  text-decoration: underline;
}
.b6 {
  color: inherit;
}
.polymath3 {
  text-decoration: underline;
}
.polymath2 {
  color: inherit;
}
.high-renaissance3 {
  text-decoration: underline;
}
.high-renaissance2 {
  color: inherit;
}
.span4 {
  text-decoration: underline;
}
.a4 {
  color: inherit;
}
.his-notebooks3 {
  text-decoration: underline;
}
.his-notebooks2 {
  color: inherit;
}
.paleontology3 {
  text-decoration: underline;
}
.paleontology2 {
  color: inherit;
}
.renaissance-humanist3 {
  text-decoration: underline;
}
.renaissance-humanist2 {
  color: inherit;
}
.span5 {
  text-decoration: underline;
}
.a5 {
  color: inherit;
}
.collective-works3 {
  text-decoration: underline;
}
.collective-works2 {
  color: inherit;
}
.michelangelo3 {
  text-decoration: underline;
}
.michelangelo2 {
  color: inherit;
}
.span6 {
  text-decoration: underline;
}
.a6 {
  color: inherit;
}
.span7 {
  text-decoration: underline;
}
.a7 {
  color: inherit;
}
.leonardo-di-ser-container3 {
  width: 100%;
}
.leonardo-da-vinci1,
.leonardo-di-ser-container2 {
  position: absolute;
  top: 157px;
  left: 52px;
  display: flex;
  align-items: center;
  width: 887px;
  height: 602px;
}
.leonardo-da-vinci1 {
  top: 750px;
  left: 969px;
  font-weight: 300;
  justify-content: center;
  width: 413px;
  height: 63px;
}
.artists9 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
