.pexels-photo-1269968-2-icon5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1024px;
  object-fit: cover;
}
.group-child9 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  width: 1440px;
  height: 81px;
}
.about12,
.art-style11,
.artists12,
.cart13,
.contact-us12,
.home11,
.orders13 {
  position: absolute;
  top: 16.2px;
  left: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 162px;
  height: 33.2px;
}
.about12,
.art-style11,
.artists12,
.cart13,
.contact-us12,
.orders13 {
  left: 183px;
}
.about12,
.artists12,
.cart13,
.contact-us12,
.orders13 {
  left: 993px;
}
.about12,
.artists12,
.cart13,
.orders13 {
  left: 831px;
}
.artists12,
.cart13,
.orders13 {
  left: 669px;
}
.artists12,
.orders13 {
  left: 507px;
}
.artists12 {
  left: 345px;
}
.group-child10,
.welcome-1-icon10 {
  position: absolute;
  top: 0;
  height: 81px;
}
.welcome-1-icon10 {
  left: 1338px;
  width: 88px;
  object-fit: cover;
  mix-blend-mode: color-dodge;
}
.group-child10 {
  left: 680px;
  background-color: var(--color-peru);
  width: 139px;
}
.vector-parent7 {
  position: absolute;
  top: 12px;
  left: 0;
  width: 1440px;
  height: 81px;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.cart-child {
  position: absolute;
  top: 118px;
  left: 27px;
  border-radius: var(--br-6xl);
  background-color: var(--color-brown-100);
  width: 1386px;
  height: 759px;
}
.cart14 {
  position: absolute;
  top: 150px;
  left: 63px;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  text-align: left;
  display: inline-block;
  width: 391px;
  height: 101px;
}
.the-sleeping-gypsy-by-henri-ro-icon1,
.the-tower-of-babel-by-pieter-b-icon1 {
  position: absolute;
  top: 239px;
  left: 113px;
  width: 415px;
  height: 327px;
  object-fit: cover;
}
.the-sleeping-gypsy-by-henri-ro-icon1 {
  left: 680px;
  width: 412px;
}
.x12 {
  top: 568px;
  left: 113px;
  justify-content: center;
  width: 415px;
  height: 70px;
}
.total-4001,
.x12,
.x13 {
  position: absolute;
  display: flex;
  align-items: center;
}
.x13 {
  top: 566px;
  left: 677px;
  justify-content: center;
  width: 415px;
  height: 70px;
}
.total-4001 {
  top: 724px;
  left: 133px;
  font-size: var(--font-size-7xl);
  text-align: left;
  width: 374px;
  height: 86px;
}
.cart-item {
  position: absolute;
  top: 653.5px;
  left: 74.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1308px;
  height: 1px;
}
.cart12 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-lgi);
  color: var(--color-white);
  font-family: var(--font-inter);
}
