.group-child,
.icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
}
.icon {
  height: 1050px;
  object-fit: cover;
}
.group-child {
  border-radius: var(--br-6xl);
  height: 81px;
}
.about6,
.art-style6,
.artists6,
.cart7,
.contact-us5,
.home6,
.orders7 {
  position: absolute;
  top: 16.2px;
  left: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 162px;
  height: 33.2px;
}
.about6,
.art-style6,
.artists6,
.cart7,
.contact-us5,
.orders7 {
  left: 183px;
}
.about6,
.artists6,
.cart7,
.contact-us5,
.orders7 {
  left: 993px;
}
.about6,
.artists6,
.cart7,
.orders7 {
  left: 831px;
}
.artists6,
.cart7,
.orders7 {
  left: 669px;
}
.artists6,
.orders7 {
  left: 507px;
}
.artists6 {
  left: 345px;
}
.welcome-1-icon5 {
  top: 0;
  left: 1338px;
  width: 88px;
  object-fit: cover;
  mix-blend-mode: color-dodge;
}
.group-item,
.vector-parent2,
.welcome-1-icon5 {
  position: absolute;
  height: 81px;
}
.group-item {
  top: 0;
  left: 356px;
  background-color: var(--color-peru);
  width: 139px;
}
.vector-parent2 {
  top: 18px;
  left: 0;
  width: 1440px;
}
.top-100-paintings-view-of-tole-icon1 {
  position: absolute;
  top: 130px;
  left: 84px;
  width: 504px;
  height: 382px;
  object-fit: cover;
}
.top-100-paintings-the-tower-of-icon1 {
  position: absolute;
  top: 135px;
  left: 750px;
  width: 512px;
  height: 377px;
  object-fit: cover;
}
.group-inner {
  position: absolute;
  top: 0;
  left: 3px;
  background-color: var(--color-brown-300);
  width: 25px;
  height: 23px;
}
.div9,
.group-child1,
.rectangle-parent8 {
  position: absolute;
  top: 0;
  width: 28px;
  height: 23px;
}
.div9 {
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-child1,
.rectangle-parent8 {
  left: 102px;
}
.group-child1 {
  left: 3px;
  background-color: var(--color-brown-200);
  width: 25px;
}
.div10,
.group-child2,
.rectangle-parent9 {
  position: absolute;
  top: 0;
  width: 28px;
  height: 23px;
}
.div10 {
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-child2,
.rectangle-parent9 {
  left: 140px;
}
.group-child2 {
  left: 3px;
  background-color: var(--color-brown-200);
  width: 25px;
}
.div11,
.previous1,
.rectangle-parent10 {
  position: absolute;
  top: 0;
  width: 28px;
  height: 23px;
}
.div11 {
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.previous1,
.rectangle-parent10 {
  left: 178px;
}
.previous1 {
  top: 6px;
  left: 0;
  font-size: var(--font-size-lg);
  color: var(--color-cornflowerblue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 113px;
  height: 11px;
}
.group-parent {
  position: absolute;
  top: 954px;
  left: 555px;
  width: 206px;
  height: 23px;
}
.div8 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
